h1{
        color:blue;
    font-size: 50px;
    font-family:"impact";
    text-align: center;
    font-weight: bold;
    background-color:azure;  
}
h2.blackcolor{
    text-align: center;
    color: white;
    background-color: black;
}